<section class="hero">
  <div class="hero-body">
    <div class="container">
      <article>
        <div class="columns ">
          <div class="column">
            <h1 class="title is-size-4 has-text-centered">
              We look forward to supporting you as we <br />
              work together to fill your open roles.
            </h1>
          </div>
        </div>
        <div class="has-text-centered">
         
          <a class="button is-medium <%= buttonColor %>" href="<%= pageLink %>">Select Plan</a>
         
       
        </div>
      </article>
    </div>
  </div>
</section>
</html>