<section class="hero">
  <div class="hero-body">
    <div class="container">
      <article>
        <h1 class="title is-size-2 has-text-centered">Your HR Admin</h1>
        <h1 class="subtitle has-text-warning is-size-4 has-text-centered">
          We do all the Legwork
        </h1>
      </article>
    </div>
  </div>
</section>
