<section class="section">
  <div class="container">
    <div
      class="navbar has-text-black has-text-weight-semibold removeBorder"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <figure class="image center">
          <a href="/"><img src="images/logo.png" style="max-width: 180px;"/></a>
        </figure>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">
            Home
          </a>

          <a class="navbar-item">
            How It Works
          </a>

          <a class="navbar-item">
            Blog
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Services
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="/admin">
                Hr Admin
              </a>
              <a class="navbar-item" href="/recruiter">
                Hr Recruiter
              </a>
              <a class="navbar-item" href="/consultant">
                Hr Consultant
              </a>
              <hr class="navbar-divider" />
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
