<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('./includes/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('./includes/navigation.ejs') %>

    <!-- 1 intro -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <article>
            <figure class="image is-pulled-right">
              <img src="images/slide1.png" style="max-width: 750px;" />
            </figure>

            <div class=" has-text-right">
              <div>
                <article class="media notification has-background-white">
                  <div class="media-content">
                    <div class="content">
                      <h1
                        class="title is-size-1"
                        style="min-width: 400px; padding-top:2em "
                      >
                        A new way to <span class="has-text-danger">HIRE</span>
                      </h1>
                      <p class="subtitle is-size-3">
                        Affordable, fast and flexible.
                      </p>
                      <a
                        class="button is-link is-medium is-rounded"
                        href="#plans"
                        >Get Started</a
                      >
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!-- 2  -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <article>
            <figure class=" image is-pulled-left">
              <img src="/images/hr.png" style="max-width: 1000px; " />
            </figure>

            <div class="has-text-right ">
              <article class="media notification has-background-white">
                <div class="media-content">
                  <div class="content" style="padding-top: 4em; ">
                    <p class="subtitle is-size-3 has-text-dark">
                      <span class="has-text-weight-semibold has-text-link"
                        >Your HR Admin</span
                      >
                      offers on demand recruitment services based on your unique
                      needs.
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!-- 3 -->
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <article>
            <figure class="image is-pulled-right">
              <img
                src="/images/services.png"
                style="max-width: 750px; min-width: 700px;"
              />
            </figure>

            <div class="has-text-right">
              <div>
                <article class="media notification has-background-white">
                  <div class="media-content">
                    <div
                      class="content"
                      style="min-width: 22em; padding-top:5em;"
                    >
                      <p class="subtitle is-size-3">
                        All growing businesses run into the same fundamental
                        problems.
                      </p>

                      <div class="tags are-large">
                        <span class="tag is-light is-warning is-size-5"
                          >Lack of time</span
                        >
                        <span class="tag is-light is-warning is-size-5"
                          >Money</span
                        >
                        <span class="tag is-light is-warning is-size-5"
                          >Resources</span
                        >
                      </div>

                      <h1 class="title is-size-3">
                        <br />The good news?
                        <span class="has-text-link"> Your HR Admin </span>solves
                        all.
                      </h1>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <!-- plans info -->
    <section class="section has-background-light" id="plans">
      <div class="container">
        <div class="section">
          <h1 class="title is-size-3 has-text-centered">
            Flexible and Affordable pricing<br /><span
              class="subtitle has-text-link is-size-5"
              >Based on your unique recruitment needs</span
            >
          </h1>
        </div>

        <div class="columns is-multiline">
          <div class="column is-one-third">
            <article class="media notification has-background-white">
              <figure class="media-left">
                <span class="icon">
                  <i class="fas fa-lg fa-columns has-text-warning"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">Your HR Admin</h1>
                  <p class="subtitle is-size-5">
                    We do the Legwork
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <div class="content has-text-weight-semibold">
                      <ul>
                        <li>Discovery call (30 minutes)</li>
                        <li>Post your job</li>
                        <li>Review all applications</li>
                        <li>Screen, match and identify top 10 candidates</li>
                        <li>Written communication with all candidates</li>
                        <li>Interview scheduling</li>
                        <br />
                      </ul>
                    </div>
                  </div>
                  <div class="has-text-centered">
                    <a class="button is-medium is-warning" href="/admin"
                      >Get Started</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="media notification has-background-white">
              <figure class="media-left">
                <span class="icon has-text-link">
                  <i class="fab fa-lg fa-wpforms"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">Your HR Recruiter</h1>
                  <p class="subtitle is-size-5">
                    We find the Gems.
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <div class="content has-text-weight-semibold">
                      <ul>
                        <li>Discovery call (30 minutes)</li>
                        <li>Post your job</li>
                        <li>Review all applications</li>
                        <li>Screen, match and identify top 10 candidates</li>
                        <li>Written communication with all candidates</li>
                        <li>Interview scheduling</li>
                        <li class="has-text-link">
                          Phone interview top 10 candidates
                        </li>
                        <li class="has-text-link">
                          Create candidate profile for top 3 candidates
                        </li>
                        <br />
                      </ul>
                    </div>
                  </div>
                  <div class="has-text-centered">
                    <a class="button is-medium is-link" href="/recruiter"
                      >Get Started</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="column is-one-third">
            <article class="media notification has-background-white">
              <figure class="media-left">
                <span class="icon has-text-danger">
                  <i class="fas fa-lg fa-cubes"></i>
                </span>
              </figure>
              <div class="media-content">
                <div class="content">
                  <h1 class="title is-size-4">Your HR Consultant</h1>
                  <p class="subtitle is-size-5">
                    We are in for Long Haul
                  </p>
                </div>
                <div class="media-content">
                  <div class="content">
                    <div class="content has-text-weight-semibold">
                      <ul>
                        <li>Discovery call (30 minutes)</li>
                        <li>Post your job</li>
                        <li>Review all applications</li>
                        <li>Screen, match and identify top 10 candidates</li>
                        <li>Written communication with all candidates</li>
                        <li>Interview scheduling</li>
                        <li class="has-text-danger">
                          Phone interview top 10 candidates
                        </li>
                        <li class="has-text-danger">
                          Create candidate profile for top 3 candidates
                        </li>
                        <li class="has-text-danger">
                          Create and design interview guide
                        </li>
                        <li class="has-text-danger">
                          Reference check (up to 3 professional references)
                        </li>
                        <br />
                      </ul>
                    </div>
                  </div>
                  <div class="has-text-centered">
                    <a class="button is-medium is-danger" href="/consultant"
                      >Get Started</a
                    >
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
