<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('../includes/head.ejs') %>

  <body>
    <!-- navigation -->
    <%- include('../includes/navigation.ejs') %>
    
    <!-- intro header -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>



                    <h1 class="title is-size-2 has-text-centered"> Your HR Recruiter
                    </h1>
                    <h1 class="subtitle has-text-link is-size-4 has-text-centered"> We find the Gems
                    </h1>



                </article>
            </div>
        </div>
    </section>
    
    <!-- 1 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class="image is-pulled-right">
                        <img src="images/call.png" style="max-width: 500px; ">
                    </figure>

                    <div class=" has-text-right">


                        <div>
                            <article class="media notification has-background-white">
                                <figure class="media-left">
                                    <!-- <span class="icon">
                                        <i class="fas fa-lg fa-columns has-text-warning"></i>
                                    </span> -->
                                    <p class="title has-text-link is-size-2">1</p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Discovery Call</h1>
                                        <p class="has-text-weight-semibold">
                                            To set us all up for success, we will initiate this process with a call in
                                            which we
                                            collect important information about the role(s) on which we will work. This
                                            call is
                                            critical so that we can collect comprehensive, accurate data on the job and
                                            process
                                            going into the search. This investment of time on the front end will allow
                                            an
                                            effective and efficient execution.
                                        </p>
                                        <p class="has-text-weight-semibold">At a high level, the purpose of the
                                            Discovery
                                            Call
                                            is to come away with answers to
                                            the following areas:</p>
                                    </div>
                                    <div class="media-content">
                                        <div class="content">

                                            <div class="content has-background-light has-text-weight-medium">
                                                <ul>
                                                    <li>The position profile - to understand all we can about the
                                                        skills,
                                                        knowledge, experiences required by the candidate we will be
                                                        hiring for
                                                        the job. From this information, we will be creating a search
                                                        profile
                                                        that will be used for posting and a reference for Your HR Admin
                                                        as we
                                                        qualify candidates through the search process</li>
                                                    <li>The organization profile - how the role fits into the
                                                        organization.
                                                        What’s the organization culture like?</li>
                                                    <li>The sourcing strategy - to explore every possible source of
                                                        talent in
                                                        the search</li>
                                                    <li>The interviewing and selection process - to define the steps and
                                                        the
                                                        interview team to be involved in the process</li>
                                                    <li>The target timeline - to outline and agree to the timeline for
                                                        the
                                                        search and set expectations that define success</li>
                                                    <li>The budget – identify the needs and agree on the budget</li>
                                                    <br>


                                                </ul>
                                            </div>




                                        </div>

                                    </div>

                                </div>

                            </article>
                        </div>



                    </div>
                </article>
            </div>
        </div>
    </section>
    
    
     <!-- 2 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class=" image is-pulled-left">
                        <img src="images/post.png" style="max-width: 400px; ">
                    </figure>




                    <div class="has-text-right ">
                        <article class="media notification has-background-white">
                            <figure class="media-left">
                                <!-- <span class="icon">
                                    <i class="fas fa-lg fa-columns has-text-warning"></i>
                                </span> -->
                                <p class="title has-text-link is-size-2">2</p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-size-4">Post the job</h1>
                                    <p class="has-text-weight-medium has-background-light">
                                       The job will be posted on free job boards such as Indeed, Glassdoor, Zip,
                                            etc.
                                            unless
                                            decided otherwise in the Discovery Call. Please note that if the job
                                            posting will be
                                            a paid job posting the cost will be an additional charge. All the job
                                            postings will
                                            be posted on your behalf and the information collected will be provided
                                            integrally
                                            to
                                            you.
                                    </p>
                                   

                                </div>


                            </div>

                        </article>
                    </div>




                </article>
            </div>
        </div>
    </section>
    
    <!-- 3 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class="image is-pulled-right">
                        <img src="images/review.png" style="max-width: 420px; ">
                    </figure>

                    <div class=" has-text-right">


                        <div>
                            <article class="media notification has-background-white">
                                <figure class="media-left">
                                    <!-- <span class="icon">
                                        <i class="fas fa-lg fa-columns has-text-warning"></i>
                                    </span> -->
                                    <p class="title has-text-link is-size-2">3</p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Review all the applications received</h1>
                                        <p class="has-text-weight-medium has-background-light">
                                            Your HR Admin will be reviewing all the applications received based on the
                                            candidate’s profile discussed during the Discovery Call.
                                        </p>

                                    </div>


                                </div>

                            </article>
                        </div>



                    </div>
                </article>
            </div>
        </div>
    </section>
    
   
    <!-- 4 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class=" image is-pulled-left">
                        <img src="images/match.png" style="max-width: 400px; ">
                    </figure>




                    <div class="has-text-right ">
                        <article class="media notification has-background-white">
                            <figure class="media-left">
                                <!-- <span class="icon">
                                    <i class="fas fa-lg fa-columns has-text-warning"></i>
                                </span> -->
                                <p class="title has-text-link is-size-2">4</p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-size-4">Screen, match and identify top 10 candidates</h1>
                                    <p class="has-text-weight-medium has-background-light">
                                      Once all the applications are reviewed, Your HR Admin will identify top 10
                                        candidates*.
                                    </p>
                                   

                                </div>


                            </div>

                        </article>
                    </div>




                </article>
            </div>
        </div>
    </section>

    <!-- 5 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class="image is-pulled-right">
                        <img src="images/phone.png" style="max-width: 400px; ">
                    </figure>

                    <div class=" has-text-right">


                        <div>
                            <article class="media notification has-background-white">
                                <figure class="media-left">
                                    <!-- <span class="icon">
                                        <i class="fas fa-lg fa-columns has-text-warning"></i>
                                    </span> -->
                                    <p class="title has-text-link is-size-2">5</p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Phone interview top 10</h1>
                                        <p class="has-text-weight-medium has-background-light">
                                           Your HR Admin will phone interview top 10 candidates* and will select the top 3 for you.
                                        </p>

                                    </div>


                                </div>

                            </article>
                        </div>



                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- 6 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class=" image is-pulled-left">
                        <img src="images/three.png" style="max-width: 400px; ">
                    </figure>




                    <div class="has-text-right ">
                        <article class="media notification has-background-white">
                            <figure class="media-left">
                                <!-- <span class="icon">
                                    <i class="fas fa-lg fa-columns has-text-warning"></i>
                                </span> -->
                                <p class="title has-text-link is-size-2">6</p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-size-4">Create candidate profile for top 3 candidates</h1>
                                    <p class="has-text-weight-medium has-background-light">
                                       Your HR Admin will put together a thorough profile of the candidates, 
                                       that will highlight Past Experiences, Accomplishments, 
                                       Reasons for leaving previous employers, Previous remuneration, Salary expectation,
                                        Time off planned/booked.
                                    </p>
                                   

                                </div>


                            </div>

                        </article>
                    </div>




                </article>
            </div>
        </div>
    </section>

    <!-- 7 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class="image is-pulled-right">
                        <img src="images/write.png" style="max-width: 400px; ">
                    </figure>

                    <div class=" has-text-right">


                        <div>
                            <article class="media notification has-background-white">
                                <figure class="media-left">
                                    <!-- <span class="icon">
                                        <i class="fas fa-lg fa-columns has-text-warning"></i>
                                    </span> -->
                                    <p class="title has-text-link is-size-2">7</p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Written communication with all candidates</h1>
                                        <p class="has-text-weight-medium has-background-light">
                                            Your HR Admin will take care of all the communication with the candidates,
                                            so you
                                            don’t have to spend the time doing so.
                                        </p>

                                    </div>


                                </div>

                            </article>
                        </div>



                    </div>
                </article>
            </div>
        </div>
    </section>

    <!-- 8 -->
    <section class="hero">
        <div class="hero-body">
            <div class="container">

                <article>
                    <figure class=" image is-pulled-left">
                        <img src="images/schedule.png" style="max-width: 400px; ">
                    </figure>




                    <div class="has-text-right ">
                        <article class="media notification has-background-white">
                            <figure class="media-left">
                                <!-- <span class="icon">
                                    <i class="fas fa-lg fa-columns has-text-warning"></i>
                                </span> -->
                                <p class="title has-text-link is-size-2">8</p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-size-4">Interview scheduling</h1>
                                    <p class="has-text-weight-medium has-background-light">
                                        Your HR Admin will schedule the interviews for you. Just let us know your
                                        availability!
                                    </p>
                                    <p class="has-text-weight-medium has-background-light">
                                        *In order to meet your deadlines and be the most efficient, Your HR Admin
                                        reserves
                                        the rights to deliver up to top 10 candidates. We understand that based on
                                        different
                                        variables and unforeseen circumstances such as the role, the market, the
                                        number of
                                        qualified candidates applying we may not always be in the position to
                                        provide you
                                        with top 10 candidates but will certainly do our best!
                                    </p>

                                </div>


                            </div>

                        </article>
                    </div>




                </article>
            </div>
        </div>
    </section>
    <!-- footer -->
    <%-include('../includes/footer.ejs') %>
  </body>
</html>
